@import '../../styles/colors';

.home .top {
  background: url('https://thetrove.is/images/header-bg/rotfm.jpg') no-repeat center/cover;
  background-attachment: fixed;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.home .logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.home .main {
  background-color: $color-black-dark;
  border-bottom: 1px solid $color-secondary;
}
.home .bottom {
  background-color: $color-black-dark;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .home .top,
  .home .main,
  .home .bottom {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  .home .top {
    grid-area: home-top;
  }

  .home .main {
    grid-area: home-main;
  }

  .home .bottom {
    grid-area: home-bottom;
  }

  @media screen and (min-width: 800px) {
    .home {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        'home-top home-top'
        'home-main home-main'
        'home-bottom home-bottom';
    }
  }
}
