@import '../../styles/colors';

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

header {
  padding: 1em;
  background: $color-white;
  color: $color-white;
  min-height: 600px;
}

header.homepage {
  background: url('https://thetrove.is/images/header-bg/rotfm.jpg') no-repeat center/cover;
}

header img {
  display: inline;
  margin: 0 auto;
}

header a {
  font-size: 21px;
  margin-left: 9px;
  margin-right: 9px;
}

header a.active {
  font-size: 21px;
  color: $color-black-dark;
  margin-left: 9px;
  margin-right: 9px;
}

/*--------------------------------------------------------------
CSS Flexbox layout for wider screens, when browser supports flexbox:
--------------------------------------------------------------*/
