@import '../../styles/colors';

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

footer {
  padding: 1em 2em;
  background: $color-black;
  color: $color-white;
  min-height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 3px solid $color-secondary-dark;
}

footer a {
  color: $color-white;
}

footer a:hover,
footer a:focus {
  border-bottom: 1px solid $color-white;
}
